


h1, h2, h3, h4{
    font-family: 'Lato', sans-serif;
}

p, blockquote, h5, button, a{
    font-family: 'PT Sans', sans-serif;
}


a#pressed_search{
    background:#ff6f00;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

blockquote#blockquote_green{
    background: #09e376;
    border-left: 5px solid #09e376;
}

body{
    background-color: #09e376;
}

span.card-title-h{
    font-family: 'Lato', sans-serif !important;
    text-align: center;
    font-size:1.2em;
}

div#price_box.col.s3{
    background: #09e376;
    color: white;
}

#company_logo.circle.responsive-img{
    width: 160px;
    max-height: 260px;

}

#default_company_logo.circle.responsive-img{
    width: 160px;
    max-height: 260px;
}

.tab a, .tab a:hover{
    color:#ff6f00 !important;
}

.tab a:focus{
    background: rgba(255, 111, 0, .12) !important;
}

.tabs .indicator{
    background: #ff6f00 !important;
    height: 4px;
}


.press_card{
    margin-top: 1em;
}

.card.white.press_card:hover{
    background:rgba(12, 167, 89, .3)!important;
}

.card.white.press_card:hover a{
    color: white !important;
}


text.highcharts-title, .highchart_title{
    font-size: 2.3em !important;
    font-family: "Lato", sans-serif !important;
}


.inline-elements {
    display: inline-block;
    clear: both;
    float: none;
    margin-right: 30px !important;
}

#sort-by-span {
    margin-left: 8px;
    margin-right: 20px;
}