<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:900|Lora|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='materialize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body style="background-image: linear-gradient(0deg,rgba(12, 167, 89, 0.8),rgba(12, 167, 89, 0.8)),url('https://media.giphy.com/media/l46Cy1rHbQ92uuLXa/giphy.gif');
background-size: cover;">
{#<div  id="overlay"></div>#}
<div class="container" style="z-index: 3;">
    <div class="row" style=" color:white; z-index:3;">
        <div class="col sm5">
            <h3><span style="color:#09e376;">ReStock</span></h3>
        </div>

    </div>
    <div class="row" style="color:white;max-width:80%; text-align: center; margin-top: 10%;">
        <h1>Find the right investing opportunities for you.</h1>
        <h5>ReStock gives you personalized stock recommendations for free.</h5>
    </div>
    <div class="row white z-depth-3" style=" margin-top: 7%; max-width:80%;">
        <form action=""></form>

        <div class="input-field col s6">
            <select>
                <option value="" disabled selected>Pick a sector</option>
                <option value="Any">Any</option>
                {% for sector in sectors_to_industries %}
                    <option value={{ sector }}>{{ sector }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col s6">
            <h4 style="font-weight: bold; float: left;">$</h4>
            <input type="text" name="amount" placeholder="Your budget"
                   style="margin-left:.4em;margin-top: .7em; font-size: 1.5em; width: 90%;" class="white">
        </div>
    </div>
    <div class="row" style="text-align:center; padding:1em;">
        <a class="waves-effect waves-light btn-large" id="search_button"><i class="material-icons right">search</i>Find
            Companies</a>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
